<table class="table-bordered" *ngIf="peliculas.length; else noHayRecetas">
  <thead class="thead-dark">
    <tr>
      <th>Afiche</th>
      <th>Titulo</th>
    </tr>
  </thead>
  <ng-container *ngFor="let pelicula of peliculas">
    <tr>
      <td>
        <img [src]="pelicula.afiche" style="width: 100%; max-width: 220px">
      </td>
      <td>{{pelicula.titulo}}</td>
    </tr>
    <tr>
        <td colspan="2">
            <button class="btn btn-outline-primary" (click)="pelicula.visualizar = !pelicula.visualizar">Detalle</button>
            <div *ngIf="pelicula.visualizar">
              <strong>
                <em>Director</em>
              </strong>
              <p>{{pelicula.director}}</p>
              <strong>
                <em>Año</em>
              </strong>
              <p>{{pelicula.anio}}</p>
            </div>
          </td>
    </tr>
  </ng-container>
</table>
<ng-template #noHayRecetas>
    <h3>No hay recetas ingresadas</h3>
  </ng-template>
